.btn {
    padding: 10px 60px;
    border: 0;
    font-size: 1.1em;
    font-weight: 700;
    background-color: #d3fc14;
    cursor: pointer;
    border-radius: 10px;
}


.cancel {
    background-color: white;
}