.input {
    display: block;
    height: 40px;
    width: 300px;
    margin-bottom: 10px;
    border: 1px solid hsl(0,0,90);
    background-color: hsl(0,0,98);
    border-radius: 10px;
    padding-left: 20px;
}

.label {
    display: block;
    margin-bottom: 4px;
}